/* website by hi@andychung.me */

@font-face {
	font-family: 'Graphik Web';
	src: url('../fonts/Graphik-Regular-Web.eot');
	src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Graphik-Regular-Web.woff') format('woff'),
	url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
	url('../fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

:root {
	--type-size: 20px;
	--line-height: 1.9;
	--padding: 48px;
	--small-padding: 9px;
}

body {
	font-family: 'Graphik Web', sans-serif;
	color: #111;
	font-size: var(--type-size);
	line-height: var(--line-height);
	background-color: #f2f2f2;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 0.065em solid transparent;
}

.no-touch a:hover,
.post-content a {
	border-bottom: 0.065em solid;
}

a:active {
	opacity: .3;
}

.no-touch a:active,
a.usdz:active {
	opacity: 1;
}

a.usdz {
	pointer-events: none;
}

#content {
	background-color: white;
	position: relative;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.project {
	display: flex;
	flex-direction: row;
	position: relative;
}

.project::after,
#about::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content:'';
	height: 2px;
	background-color: rgba(0, 0, 0, 0.05);
}

#content *:not(html) {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.left-column,
#sticky-column {
	width: 40vw;
	min-height: 100vh;
}

.left-column {
	position: relative;
	background-color: white;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
}

#sticky-column {
	top: 0;
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: flex-start;
	position: -webkit-sticky;
	position: sticky;
}

.pinned {
	position: fixed;
	position: -webkit-sticky;
	position: sticky;
}

.home {
	background-color: #fff;
	min-height: 100vh;
}

#index {
	padding: var(--padding);
}


#about,
#updates {
	display: flex;
	flex-direction: column;
	padding: var(--padding);
}

.about-section {
	display: flex;
	flex-direction: row;
}

.about-section:not(:last-child) {
	padding-bottom: calc(var(--type-size) * var(--line-height));
}

.post:not(:last-child) {
	padding-bottom: calc(var(--type-size) * var(--line-height));
}

.label {
	flex: 1;
}

.field {
	flex: 2;
}

.spacer {
	width: 2.75em;
}

nav {
	width: 100%;
	font-size: var(--type-size);
	padding-bottom: var(--padding);
	display: flex;
	justify-content: space-between;
}

.list {
	list-style-type: none;
	width: 100%;
}

.list-item {
	display: block;
	font-size: var(--type-size);
	position: relative;
}

.no-touch .list-item a:hover span {
	border-bottom: 0.065em solid;
}

.list-item:last-child {
	border: none;
}

.list-item a {
	border: none;
}

.list-item a {
	padding: var(--small-padding) 0;
}

.flex {
	display: flex;
}

.list-item a:hover {
	border: none;
}

.list-project {
	flex: 1;
	margin-right: 48px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.list-project.date {
	width: 2.75em;
	flex: none;
	margin-right: 0;
	text-align: right;
}

.list-project-typology span:not(:last-child)::after {
	content: ", ";
}

p {
	font-size: var(--type-size);
	margin-bottom: calc(var(--type-size) * var(--line-height));
}

p:last-child {
	margin-bottom: 0;
}

p.projects span::after {
	content: ', ';
}

p.projects span:last-child::after {
	content: '.';
}

.right-column {
	min-height: 100vh;
	width: 60vw;
	background-color: #111;
	position: relative;
	order: 2;
}

.gallery {
	padding: var(--small-padding);
	position: relative;
}

.gallery .image {
	width: 100%;
	padding: 0 var(--small-padding);
	margin: var(--small-padding) 0;
	float: left;
}

.gallery .image .placeholder {
	position: relative;
	background-color: #222;
}

.gallery .image .placeholder img,
.gallery .image .placeholder video {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.gallery .image.half {
	width: 50%;
}

.gallery .image .placeholder.video {
	padding-bottom: 56.25%;
}

@media only screen and (min-width: 1680px) {
	:root {
		--type-size: 1.2vw;
		--padding: 2.85vw;
		--small-padding: 0.535vw;
	}
}

@media only screen and (max-width: 1280px) {
	:root {
		--type-size: 1.56vw;
		--padding: 3.75vw;
		--small-padding: 0.7vw;
	}
}

@media only screen and (max-width: 1020px) {
	:root {
		--type-size: 20px;
		--padding: 48px;
		--small-padding: 9px;
	}

	.project, #about {
		display: block;
	}

	.right-column {
		min-height: 0;
	}

	.left-column,
	#sticky-column {
		width: 100%;
		position: relative;
		min-height: 0;
	}

	.right-column {
		width: 100%;
	}

	.about-section {
		flex-direction: column;
	}

	.label {
		margin-bottom: calc(var(--type-size) * var(--line-height));
	}

	.spacer {
		display: none;
	}

	.about-text {
		width: 100%;
	}

}

@media only screen and (max-width: 720px) {
	.list-project:nth-child(3),
	.list-project:nth-child(2) {
		display: none;
	}
}

@media only screen and (max-width: 540px) {
	:root {
		--type-size: 4vw;
		--padding: 6vw;
		--small-padding: 1.6vw;
	}
}

@supports not ((position: sticky) or (position: -webkit-sticky)) {
	#content *:not(html) {
		-webkit-transform: inherit;
		-moz-transform: inherit;
		transform: inherit;
	}

	.gallery img {
		-webkit-transform: translateZ(0);
		-webkit-transform-style: preserve-3d;
	}
}

.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
