/* website by hi@andychung.me */

@font-face {
	font-family: 'Graphik Web';
	src: url('../fonts/Graphik-Regular-Web.eot');
	src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Graphik-Regular-Web.woff') format('woff'),
	url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
	url('../fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	font-family: 'Graphik Web', sans-serif;
	color: #111;
	font-size: 13px;
	line-height: 18px;
	background-color: #f2f2f2;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
	color: inherit;
	text-decoration: none;
}

.left-column a:active {
	opacity: .3;
}

.no-touch .left-column a:hover {
	border-bottom: 1px solid;
} 

.no-touch .left-column a:active {
	opacity: 1;
}

#content {
	background-color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

#content *:not(html) { 
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.left-column,
.sticky-column {
	width: 40vw;
	min-height: 100vh;
}

.left-column {
	position: relative;
	background-color: white;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
}

.left-column.centered,
.sticky-column {
	padding: 0 48px;
}

.centered {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.content-wrap {
	max-width: 560px;
	padding: 96px 0;
	margin: 0 auto;
}

.sticky-column {
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}

.pinned {
	position: fixed;
	position: -webkit-sticky;
	position: sticky;
}

nav {
	margin-bottom: 44px;
}

nav li {
	float: left;
	margin-right: 1em;
}

h2 {
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 8px;
}

h2.project-title {
	margin-bottom: 0;
}

ul.tags {
	margin-bottom: 8px;
}

ul.tags li {
	display: inline;
}

ul.tags li::after {
	content: ', '
}

ul.tags li:last-child::after {
	content: '';
}

p {
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 36px;
}

p:last-child {
	margin-bottom: 0;
}

p.projects span::after {
	content: ', ';
}

p.projects span:last-child::after {
	content: '.';
}

.right-column { 
	min-height: 100vh;
	width: 60vw;
	background-color: #111;
	position: relative;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}

.right-column .cover-image {
	position: absolute;
	top: 18px;
	right: 18px;
	left: 18px;
	bottom: 18px;
	background-size: cover;
	background-position: center;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
}

.right-column.fixed {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
}

.gallery {
	padding: 18px 0 0 18px;
	width: 100%;
	position: relative;
}

.gallery .image {
	width: 100%;
	margin-bottom: 18px;
	padding-right: 18px;
	float: left;
}

.gallery .image img {
	display: block;
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
}

.gallery .image.half {
	width: 50%;
}

@media only screen and (max-width: 1920px) {
	.content-wrap {
		max-width: 480px;
	}
}

@media only screen and (max-width: 1440px) {
	.content-wrap {
		padding: 48px 0;
	}
	
	nav {
		margin-bottom: 36px;
	}
	
	p {
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 32px;
	}
}

@media only screen and (max-width: 1020px) {
	#content {
		display: block;
	}

	.left-column,
	.sticky-column {
		width: 100%;
	}	
	
	.right-column.fixed {
		display: none;
	}
	
	.right-column {
		width: 100%;
	}
}

@media only screen and (max-width: 414px) {
	.left-column.centered,
	.sticky-column {
		padding: 0 36px;
	}
	
	.content-wrap {
		padding: 36px 0;
	}
	
	.gallery {
		padding: 8px 0 0 8px;
	}
	
	.gallery .image {
		margin-bottom: 8px;
		padding-right: 8px;
	}
}

@media only screen and (max-width: 320px) {	
	.left-column.centered,
	.sticky-column {
		padding: 0 8px;
	}
}

@supports not ((position: sticky) or (position: -webkit-sticky)) {
	#content *:not(html) { 
		-webkit-transform: inherit;
		-moz-transform: inherit;
		transform: inherit;
	}
	
	.gallery img {
		-webkit-transform: translateZ(0);
		-webkit-transform-style: preserve-3d;
	}
}

.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}