<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}</title>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<meta name="description" content="{{ site.description }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta property="og:title" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description }}">	
	<meta property="og:image" content="/public/images/icons/tom-chung-cover.jpg">
	<meta property="og:type" content="website"/>
	<meta name="theme-color" content="#000000">
	<link rel="icon" type="image/x-icon" href="/public/images/icons/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/public/images/icons/touch-icon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/icons/touch-icon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/icons/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/icons/touch-icon-ipad-retina.png" />
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery.history.js"></script>
	<script type="text/javascript" src="/public/js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="/public/js/functions.min.js"></script>
</head>
<body class="no-touch">