<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<meta name="description" content="{{ site.description }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta property="og:title" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description }}">
	<!--
	<meta property="og:image" content="/public/images/bookshop.jpg">
	<meta property="og:type" content="website"/>
	<meta name="theme-color" content="#000000">
	-->
	<link rel="stylesheet" type="text/css" href="/public/css/tomchung.css">
	<script type="text/javascript" src="/public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery.history.js"></script>
	<script type="text/javascript" src="/public/js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="/public/js/tomchung.js"></script>
	<!--
	<link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/public/images/touch-icon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/touch-icon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/touch-icon-ipad-retina.png" />
	-->
</head>
<body>