{% include header.html %}
<div id="container">
	<div id="content">
		<div class="right-column">
			<ul class="gallery cf">
				{% for image in page.images %}
				<li class="image {{ image.size }}">
					<div class="image-wrap">
						<img src="/public/images/{{ image.image }}">
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="left-column">
			<div class="sticky-column centered">
				<div class="content-wrap">
					{% include nav.html %}
					<h2 class="project-title">{{ page.title }}, {{ page.year }}</h2>
					<ul class="tags">
						{% for tag in page.tags %}
						<li>{{ tag }}</li>
						{% endfor %}
					</ul>
					{{ content }}
					{% include projects.html %}
				</div>
			</div>
		</div>
	</div>
</div>
{% include footer.html %}